.GreyButton {
    width: 50px;
    height: 50px;
    background: gray;
    text-align: center;
    line-height: 50px;
    margin: 0 2px 2px 0;
    float: left;
}

.GreyButton.TransparentButton {
    background: transparent;
}